.data-globe {
    background-color: #100418;
    
    @screen lg {
        padding: 18.125rem 0;
    }
}

.data-globe__text-left, .data-globe__text-right {
    font-size: 1.875rem;
    line-height: 3.375rem;
}

.data-globe__text-left {
    margin: auto 0 auto auto;
}

.data-globe__text-right {
    margin: auto auto auto 0;

    span {
        font-size: 1.875rem;
        line-height: 3.375rem;
        font-weight: 500;
    }
}