.datasets__text {
    margin-bottom: 54px;
    p {
        font-size: 1.875rem;
        line-height: 2.125rem;
        text-align: center;

        &:last-child {
            font-weight: 500;
        }
    }

    p span {
        font-weight: 500;
        font-size: 1.875rem;
        line-height: 2.125rem;
    }
}