.fringer-data {
    padding: 3.125rem 0;
}

.fringer-data--bg {
    background: url('~assets/images/fringer-data-2.png') no-repeat;
    background-position: center;
    background-size: cover;
    min-height: 37.5rem;
    display: flex;
    align-items: center;
    justify-content: center;

    @screen 2xl {
        min-height: 74.3125rem;
    }
}

.fringer-data--dot {
    @extend .fringer-data--bg;
    position: relative;
}

.fringer-data__text {
    position: absolute;
    top: 50%;
    left: 70%;
    transform: translate(-70%, -50%);

    @screen lg {
        font-size: 1.875rem;
        line-height: 3.375rem;
    }

    span {
        font-weight: 500;
        font-size: 1.875rem;
        line-height: 3.375rem;
    }
}