.ranking {
    position: relative;
}

.ranking__text {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -45%);
    font-size: 1.875rem;
    line-height: 2.125rem;

    span {
        font-weight: 500;
        font-size: 1.875rem;
        line-height: 2.125rem;
    }
}

.ranking--modify {
    @screen lg {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .container--modify {
        @screen 2xl {
            max-width: fit-content;
        }
    }

    .ranking__left, .ranking__right {
        font-size: 1.875rem;
        line-height: 4rem;
    }

    .ranking__left {
        margin-right: 8.375rem;
    }

    .ranking__right {
        margin-left: 8.375rem;
        font-weight: 500;
    }
}