* {
  font-size: 10px;
  font-family: 'Graphik', sans-serif;
  font-weight: 400;
  color: #fff;

  @screen lg{
    font-size: 16px;
  }
}

.fringer-data,
.datasets,
.ranking,
.ranking--modify,
.compare,
.data-cluster,
.data-globe,
.gather-infor,
.source,
.slogan,
.benefits,
.slogan-enterprise,
.timeline-enter,
.trusted,
.intro,
.plans-package
{
  background-color: #100418;
}

.text-gradient-yellow {
  background: linear-gradient(253.64deg, #F2B59C 6.02%, #FFE26E 117.3%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 500;
}

.text-gradient-pink {
  background: -webkit-linear-gradient(247.69deg, #F5C0BE -4.24%, #A3A5EF 191.1%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 500;
}

.text-gradient-violet {
  background: linear-gradient(252.6deg, #D1A8D0 -62.78%, #9D9AED 119.63%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 500;
}