.three-pillar {
    padding: 10rem 2rem 11rem 2rem;
    @screen lg {
        padding: 11.875rem 5rem 12.375rem 5rem;
    }
}

.three-pillar__title {
    margin-bottom: 4rem;
    font-size: 2.5rem;
    line-height: 3.5rem;
    color: #000000;

    @screen lg {
        font-size: 3.25rem;
    }

    @screen lg {
        margin-bottom: 3.25rem;
    }

    .text-gradient-yellow {
        font-size: 2.5rem;
        line-height: 3.5rem;

        @screen lg {
            font-size: 3.25rem;
        }
    }
}

.three-pillar__item {
    margin-bottom: 4rem;

    @screen lg {
        margin-bottom: 0;
    }

    .item-img {
        margin-bottom: 2rem;
        @screen lg {
            margin-bottom: 1.75rem;
        }
    }

    .item-name {
        font-size: 2.6rem;
        font-weight: 500;
        line-height: 2.625rem;
        color: #000000;
        
        @screen lg {
            font-size: 1.875rem;
        }
    }

    .item-position {
        font-size: 1.6rem;
        line-height: 2.2rem;
        color: #000000;
        margin-bottom: 2rem;

        @screen lg {
            font-size: 1.25rem;
            line-height: 1.625rem;
            margin-bottom: 1.875rem;
        }
    }
}

.get-touch {
    color: #000000;
    font-size: 3.6rem;
    line-height: 3.375rem;
    margin-top: 15rem;
    margin-bottom: 2rem;

    @screen lg {
        font-size: 3.25rem;
        line-height: 3.5rem;
        margin-top: 12.875rem;
        margin-bottom: 1.75rem;
    }

    p, .text-gradient-yellow {
        color: #000000;
        font-size: 3.6rem;
        line-height: 3.375rem;

        @screen lg {
            font-size: 3.25rem;
            line-height: 3.5rem;
        }
    }
}