.btn {
    border: 1px solid #000000;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.625rem;
    border-radius: 1.875rem;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1;
    color: #100418;
    height: 3.8rem;
    padding: 7px 10px;
    
    @screen lg {
        font-size: 1rem;
        height: 2.375rem;
    }
}

.border--none {
    border:unset
}

.btn--white {
    background: #fff;
}

.btn--gradient-yellow {
    background: linear-gradient(253.64deg, #F2B59C 6.02%, #FFE26E 117.3%);
}

.btn--gradient-pink {
    background: linear-gradient(247.69deg, #F5C0BE -4.24%, #A3A5EF 191.1%);
}

.btn--gradient-violet {
    background: linear-gradient(252.6deg, #D1A8D0 -62.78%, #9D9AED 119.63%);
}

.btn-outline--white {
    border: 1px solid #fff;
    background: transparent;
    color: #fff;
}

.btn-outline--gradient-yellow {
    position: relative;
    padding: 1px;
    background: linear-gradient(253.64deg, #F2B59C 6.02%, #FFE26E 117.3%);

    a {
        background: #222;
        display: inline-block;
        border-radius: 1.875rem;
        height: 1.6875rem !important;
        width: 6.3125rem !important;
        // background: linear-gradient(253.64deg, #F2B59C 6.02%, #FFE26E 117.3%);
        // background-clip: text !important;
        // color: transparent !important;
    }
}
