.btn {
    border: 1px solid #000000;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.625rem;
    border-radius: 1.875rem;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1;
    color: #100418;
    height: 3.8rem;
    padding: 7px 10px;
    
    @screen lg {
        font-size: 1rem;
        height: 2.375rem;
    }

    a, span{
        font-size: 1.6rem;
        color: #100418;

        @screen lg {
            font-size: 1rem;
        }
    }
}

.btn.active {
    background-color: #000;
    color: #fff;

    span {
        color: #fff;
    }
}

.border--none {
    border:unset
}

.btn--gray {
    background: #D4D4D4;
    border: none;
}

.btn--white {
    background: #fff;

    &:hover, &:active {
        background: #000;
        a, span {
            color: #fff;
        }
    }
}

.btn--gradient-yellow {
    border: none;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0 , 0, 0, 0.24);
    background: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)), linear-gradient(253.64deg, #F2B59C 6.02%, #FFE26E 117.3%);

    &:hover, &:active {
        border-radius: 100rem;
        border: solid 2px transparent;
        background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)), linear-gradient(253.64deg, #F2B59C 6.02%, #FFE26E 117.3%);
        background-origin: border-box;
        background-clip: content-box, border-box;
        box-shadow: 2px 1000px 1px #000 inset;
        
        a, span {
            background: linear-gradient(253.64deg, #F2B59C 6.02%, #FFE26E 117.3%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }
    }
}

.btn--gradient-pink {
    border: none;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0 , 0, 0, 0.24);
    background: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)), linear-gradient(247.69deg, #F5C0BE -4.24%, #A3A5EF 191.1%);

    &:hover, &:active {
        border-radius: 100rem;
        border: solid 2px transparent;
        background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)), linear-gradient(247.69deg, #F5C0BE -4.24%, #A3A5EF 191.1%);
        background-origin: border-box;
        background-clip: content-box, border-box;
        box-shadow: 2px 1000px 1px #000 inset;
        
        a, span {
            background: linear-gradient(247.69deg, #F5C0BE -4.24%, #A3A5EF 191.1%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }
    }
}

.btn--gradient-violet {
    border: none;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0 , 0, 0, 0.24);
    background: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)), linear-gradient(252.6deg, #D1A8D0 -62.78%, #9D9AED 119.63%);

    &:hover, &:active {
        border-radius: 100rem;
        border: solid 2px transparent;
        background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)), linear-gradient(252.6deg, #D1A8D0 -62.78%, #9D9AED 119.63%);
        background-origin: border-box;
        background-clip: content-box, border-box;
        box-shadow: 2px 1000px 1px #000 inset;
        
        a, span {
            background: linear-gradient(252.6deg, #D1A8D0 -62.78%, #9D9AED 119.63%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }
    }
}

.btn-outline--white {
    border: 1px solid #fff;
    background: transparent;

    a, span {
        color: #fff;
    }

    &:hover, &:active {
        background: #fff;

        a, span {
            color: #100418 !important;
        }
    }
}