.box {
    padding: 10rem 3.6rem 6rem 3.6rem;

    @screen lg {
        padding: 9.375rem 1.25rem;
    }
}

.box__left, .box__right {
    display: flex;
    align-items: center;
    .box-title {
        margin-bottom: 1.125rem;
        text-align: center;

        @screen md {
            text-align: left;
        }

        @screen lg {
            margin-bottom: 1.875rem;
        }

        span {
            color: #000000;
            text-align: center;
            font-size: 3.6rem;
            line-height: 4.2rem;
    
            @screen lg {
                font-size: 3rem;
                line-height: 3.375rem;
                text-align: left;
            }
        }

        .text-white {
            color: #fff;
        }

        .gradient {
            background: -webkit-linear-gradient(247.69deg, #F5C0BE -4.24%, #A3A5EF 191.1%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            font-weight: 500;
            font-size: 3.6rem;
            line-height: 4.2rem;

            @screen lg {
                font-size: 3rem;
                line-height: 3.375rem;
            }
        }
    }

    .box-sub {
        font-size: 1.6rem;
        line-height: 2.2rem;
        color: #8B8B8B;
        text-align: center;
        margin-bottom: 3.8rem;

        @screen lg {
            text-align: left;
            font-size: 1.25rem;
            line-height: 1.625rem;
            margin-bottom: 3.4rem;
        }
    }
}

.stream-box {
    .box__left, .box__right {
        .gradient {
            background: linear-gradient(253.64deg, #F2B59C 6.02%, #FFE26E 117.3%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }
    }
}
