.footer {
  background-color: #100418;
  padding-top: 2rem;
  padding-bottom: 2.2rem;

  @screen lg {
    padding-top: 3.75rem;
    padding-bottom: 2.5rem;
  }
}

.footer__location {
  align-items: flex-start;
  justify-content: space-between;
  padding: 1.25rem 2rem 0 2rem;

  @screen lg {
    padding: 2.75rem 5rem 0 5rem;
  }

  .footer-logo {
    margin-bottom: 3.9375rem;
    display: inline-block;

    @screen lg {
      margin-bottom: 0;
    }
  }

  .location {
    .location-address {
      margin-bottom: 1.25rem;

      @screen lg {
        margin-bottom: 2.8125rem;
      }

      p {
        font-size: 1.6rem;

        @screen lg {
          font-size: 1rem;
        }
      }
    }

    .location-address__detail p{
      font-size: 1.6rem;

      @screen lg {
        font-size: 1rem;
      }
    }
  }

  .btn-contact {
    margin-right: 1.8rem;

    @screen lg {
      margin-right: 1.125rem;
    }
    a{
      font-size: 1.6rem;
  
      @screen lg {
        font-size: 1rem;
      }
    }
  }
}