.header-join {
    background-color: #291E30;
    text-align: center;
    color: #fff;
    padding: 10px 20px;

    a {
        text-decoration: underline;
    }
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #100418;
    padding: 16px 20px;
    position: relative;

    screen md {
        padding: 26px 40px;
    }
}

.header__desktop {
    align-items: center;

    a {
        display: inline-block;
        width: 102px;
        height: 30px;
        color: #fff;
        margin-right: 2px;
        text-align: center;
        line-height: 1.7;

        &:last-child {
            margin-right: 0;
        }
    }

    .stream-activem, .plans-active, .blog-active {
        background: linear-gradient(253.64deg, #F2B59C 6.02%, #FFE26E 117.3%);
        border-radius: 30px;
    }

    .air-active {
        background-color: #E9BCC5;
        border-radius: 30px;
    }

    .enterprise-active {
        background-color: #CDA7D2;
        border-radius: 30px;
    }
}

.header__mobile {
    .mobile-list {
        position: absolute;
        width: 300px;
        height: 100vh;
        padding: 54px 20px;
        top: 0;
        right: 0;
        background-color: #100418;
        transition: ease 1s;
        display: flex;
        flex-direction: column;
    }

    .mobile-list__action {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .mobile-list__menu {
        margin-top: 40px;
        flex: 1;

        li {
            background-color: #291E30;
            padding: 8px 0;
            width: 100%;
            margin-bottom: 10px;
            border-radius: 30px;
            text-align: center;
            color: #fff;
        }
    }

    .mobile-list__login .trial {
        margin-top: 20px;
        text-align: center;
    }
}