.slogan {
    padding: 6.375rem 2rem 6.375rem 2rem;

    @screen lg {
        padding-left: 5rem;
        padding-right: 5rem;
    }
}


.slogan__title {
    margin-bottom: 2.9rem;

    @screen lg {
        margin-bottom: 1.875rem;
    }
    p {
        font-size: 4.6rem;
        line-height: 5rem;
        text-align: center;

        @screen lg {
            font-size: 4.125rem;
            line-height: 4.375rem;
        }
    }

    p:first-child {
        span {
            background: -webkit-linear-gradient(247.69deg, #F5C0BE -4.24%, #A3A5EF 191.1%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            font-weight: 500;
            font-size: 4.6rem;
            line-height: 5rem;
    
            @screen lg {
                font-size: 4.125rem;
                line-height: 4.375rem;
            }
        }
    }
}

.slogan__title.air {
    p:first-child {
        span {
            background: -webkit-linear-gradient(247.69deg, #F5C0BE -4.24%, #A3A5EF 191.1%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }
    }
}

.slogan__title.stream {
    p:first-child {
        span {
            background: linear-gradient(253.64deg, #F2B59C 6.02%, #FFE26E 117.3%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }
    }
}

.slogan__sub {
    margin-bottom: 5.9rem;

    @screen lg {
        margin-bottom: 1rem;
    }
    
    p {
        font-size: 1.6rem;
        line-height: 2.2rem;
        color: #BEBEBE;
        text-align: center;

        @screen lg {
            font-size: 1.25rem;
            line-height: 1.625rem;
        }
    }
}

.slogan-stream .slogan__sub p {
    @media (min-width: 1440px) {
        width: 60%;
        margin: 0 auto;
    }
}

.slogan-air .slogan__sub p {
    @media (min-width: 1440px) {
        width: 35%;
        margin: 0 auto;
    }
}

.slogan__btn {
    margin-bottom: 6rem;

    @screen lg {
        margin-bottom: 4.5rem;
    }
}

.slogan__img {
  display: flex;
  justify-content: center;

  video {
    max-width: 100%;

    @screen sm {
      max-width: 390px;
    }
  }

  
}
