
.trusted {
    padding-top: 9rem;
    padding-bottom: 5.4rem;
    
    @screen lg {
        padding-top: 14.75rem;
        padding-bottom: 5rem;
    }
}
.trusted--padding {
    padding: 0 2rem;

    @screen lg {
        padding: 0 5rem;
    }
}

.trusted__title {
    margin-bottom: 6.9375rem;
    @extend .trusted--padding;

    h2 {
        font-size: 3.6rem;
        line-height: 3.5rem;

        @screen lg {
            font-size: 3.25rem;
        }

        & p {
            font-size: 3.6rem;
            line-height: 3.5rem;

            @screen lg {
                font-size: 3.25rem;
            }
        }
    }

    .title--gardient-common,
    .title--gradient-pink,
    .title--gradient-violet {
        font-size: 3.6rem;
        font-weight: 600;

        @screen lg {
            font-size: 3.25rem;
        }
    }

    .title--gardient-common {
        background: linear-gradient(253.64deg, #F2B59C 6.02%, #FFE26E 117.3%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    .title--gradient-pink {
        background: -webkit-linear-gradient(247.69deg, #F5C0BE -4.24%, #A3A5EF 191.1%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    .title--gradient-violet {
        background: linear-gradient(252.6deg, #D1A8D0 -62.78%, #9D9AED 119.63%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
}

.trusted__carousel {
    @extend .trusted--padding;
    position: relative;

    &::before {
        content: '';
        position: absolute;
        left: 50%;
        bottom: 30px;
        transform: translate(-50%, -30px);
        width: 100%;
        height: 1px;
        background: linear-gradient(to right, #F2B59C, #FFE26E, #AAAEF5, #100418);
        z-index: 0;

        @screen lg {
            bottom: 42px;
            transform: translate(-50%, -42px);
        }
          
    }

    &:after {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        width: 15rem;
        height: 100%;
        background: linear-gradient(270deg, #100418 43.23%, rgba(16, 4, 24, 0) 100%);

        @screen lg {
            width: 18rem;
        }
    }

    .carousel-item {
        min-height: 100%;
        display: flex;
        flex-direction: column;
        @screen md {
            padding-right: 4rem;
        }

        @screen xl {
            padding-right: 8rem;
        }

        &:last-child {
            padding-right: 0;
        }
    }
}

.text-feedback {
    font-size: 1.6rem;
    margin-bottom: 2rem;
    flex: 1;

    @screen lg {
        font-size: 1.25rem;
        line-height: 1.625rem;
    }
}

.trusted-line {
    margin-top: 2.75rem;
    margin-bottom: 3rem;

    span {
        width: 2rem;
        height: 2rem;
        background: linear-gradient(253.64deg, #F2B59C 6.02%, #FFE26E 117.3%);
        border-radius: 3.125rem;
        z-index: 2;
        display: block;

        @screen lg {
            width: 1.375rem;
            height: 1.375rem;
        }
    }
}

.trusted-line--pink {
    &::before {
        background: linear-gradient(to right, #F5C0BE, #A3A5EF, #100418);
    }

    span {
        background: linear-gradient(247.69deg, #F5C0BE -4.24%, #A3A5EF 191.1%);
    }
}

.trusted-line--violet {
    &::before {
        background: linear-gradient(to right, #D1A8D0, #9D9AED, #100418);
    }

    span {
        background: linear-gradient(252.6deg, #D1A8D0 -62.78%, #9D9AED 119.63%);
    }
}

.trusted-img {
    img {
        vertical-align: top;
        height: 2rem;

        @screen lg {
            height: 1.5rem;
        }
    }
}