.faq {
  padding: 8rem 2rem;

  @screen lg {
    padding: 9.25rem 5rem;
  }
}

.faq__title {
  font-size: 3.6rem;
  letter-spacing: -0.02em;
  color: #000000;
  margin-bottom: 4rem;

  @screen lg {
    font-size: 3.25rem;
    line-height: 3.375rem;
    margin-bottom: 0;
  }

  @media (min-width: 1440px) {
    width: 24.5rem;
  }
}

.faq-item {
  padding-bottom: 2rem;
  border-bottom: 1px solid #D4D4D5;
  margin-bottom: 2rem;

  &:last-child {
    margin-bottom: 0;
  }
}

.faq-item__head {
  display: flex;
  align-items: center;
  justify-content: space-between;

  h3 {
    font-weight: 500;
    font-size: 2rem;
    letter-spacing: -0.02em;
    color: #000000;

    &:hover {
      background: linear-gradient(253.64deg, #F2B59C 6.02%, #FFE26E 117.3%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      cursor: pointer;
    }

    @screen lg {
      font-size: 1.5rem;
      line-height: 1.875rem;
    }
  }

  .arrow img {
    transition: ease 0.4s;
    min-width: 18px;
    margin-left: 1.5rem;
  }

  .arrow-rotate img {
    transition: ease 0.4s;
    transform: rotate(180deg);
  }
}

.faq-item__body {
  font-size: 2rem;
  letter-spacing: -0.02em;
  color: #8B8B8B;
  transition: all 0.4s ease-in-out;
  margin-top: 1.5rem;

  @screen lg {
    font-size: 1.5rem;
    line-height: 1.875rem;
  }
}