.plans-package {
    padding: 6rem 2rem 4rem 2rem;
    @screen lg {
        padding: 6rem 5rem 5rem 5rem;
    }
}

.plans-package__title {
    margin-bottom: 6rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    @screen lg {
        margin-bottom: 5.125rem;
    }
    p {
        font-size: 4rem;
        text-align: center;

        @screen lg {
            font-size: 4.125rem;
            line-height: 4.375rem;
            max-width: 60rem;
        }
    }

    ::v-deep(span) {
      font-size: 4rem;

      @screen lg {
        font-size: 4.125rem;
        line-height: 4.375rem;
      }
    }


    &::v-deep(.text-gradient-yellow) {
      background: linear-gradient(253.64deg, #F2B59C 6.02%, #FFE26E 117.3%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      font-weight: 500;
    }
}

.package-item-wrapper {
    padding: 1px;
    border-radius: 20px;
    margin-bottom: 4rem;

    @screen lg {
        margin-bottom: 0;
    }
}

.wrapper-gradient-yellow {
    background: linear-gradient(253.64deg, #F2B59C 6.02%, #FFE26E 117.3%);


    .text-gradient-yellow {
      background: linear-gradient(253.64deg, #F2B59C 6.02%, #FFE26E 117.3%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      font-weight: 500;
    }

    &::v-deep(.text-gradient-yellow) {
      background: linear-gradient(253.64deg, #F2B59C 6.02%, #FFE26E 117.3%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      font-weight: 500;
    }
}


.wrapper-gradient-pink {
    background: -webkit-linear-gradient(247.69deg, #F5C0BE -4.24%, #A3A5EF 191.1%);

    .text-gradient-pink {
      background: -webkit-linear-gradient(247.69deg, #F5C0BE -4.24%, #A3A5EF 191.1%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      font-weight: 500;
    }

    &::v-deep(.text-gradient-pink) {
      background: -webkit-linear-gradient(247.69deg, #F5C0BE -4.24%, #A3A5EF 191.1%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      font-weight: 500;
    }
}

.wrapper-gradient-violet {
    background: linear-gradient(252.6deg, #D1A8D0 -62.78%, #9D9AED 119.63%);

    .text-gradient-violet {
      background: linear-gradient(252.6deg, #D1A8D0 -62.78%, #9D9AED 119.63%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      font-weight: 500;
    }

    &::v-deep(.text-gradient-violet) {
      background: linear-gradient(252.6deg, #D1A8D0 -62.78%, #9D9AED 119.63%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      font-weight: 500;
    }
}

.package-item {
    padding: 5rem 3rem;
    background: #100418;
    height: 100%;
    border-radius: 20px;

    @screen lg {
        padding: 3.25rem 2.25rem;
    }
}

.package-item__title {
    font-size: 1.6rem;
    text-align: center;
    margin-bottom: 2rem;

    @screen lg {
        font-size: 1.25rem;
        line-height: 113%;
        margin-bottom: 1.625rem;
    }
}

.package-item__price {
    margin-bottom: 2rem;
    text-align: center;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;  
    overflow: hidden;
    line-height: 50px;

    @screen lg {
        min-height: 5.625rem;
    }

    @media (min-width: 1350px) {
        margin-bottom: 1rem;
    }

    .usd {
        font-weight: 500;
        font-size: 3rem;
        letter-spacing: -0.022em;

        @screen lg {
            font-size: 2.5rem;
            line-height: 1.875rem;
        }
    }

    .monthly {
        font-size: 1.6rem;
        text-align: center;
        color: #8B8B8B;

        @screen lg {
            font-size: 1.25rem;
            line-height: 1.625rem;
        }
    }
}

.package-item__text {
    font-size: 1.6rem;
    text-align: center;
    margin-bottom: 2rem;
    color: #8B8B8B;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;  
    overflow: hidden;

    @screen lg {
        font-size: 1.25rem;
        line-height: 1.625rem;
    }
}

.package-item__btn {

}

* {
  font-size: 10px;
  font-family: 'Graphik', sans-serif;
  font-weight: 400;
  color: #fff;

  @screen lg{
    font-size: 16px;
  }
}

.fringer-data,
.datasets,
.ranking,
.ranking--modify,
.compare,
.data-cluster,
.data-globe,
.gather-infor,
.source,
.slogan,
.benefits,
.slogan-enterprise,
.timeline-enter,
.trusted,
.intro,
.plans-package
{
  background-color: #100418;
}
