.timeline-enter {
  padding: 4rem 0 6rem 0;
  @screen lg {
    padding: 3.875rem 0 7rem 0;
  }
}

.timeline-enter__title {
  padding: 0 2rem 6rem 2rem;
  @screen lg {
    padding: 0 5rem 6.375rem 5rem;
  }

  p {
    font-size: 4.6rem;
    line-height: 5rem;
    text-align: center;

    @screen lg {
      font-size: 4.125rem;
      line-height: 5rem;
    }

    &::v-deep(span) {
      font-size: 4.6rem;
      line-height: 5rem;
      text-align: center;
      background: #fff;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      font-weight: 500;

      @screen lg {
        font-size: 4.125rem;
        line-height: 5rem;
      }
    }

    &::v-deep(.highlight) {
      font-size: 4.6rem;
      line-height: 5rem;
      text-align: center;
      background: linear-gradient(252.6deg, #D1A8D0 -62.78%, #9D9AED 119.63%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      font-weight: 500;

      @screen lg {
        font-size: 4.125rem;
        line-height: 5rem;
      }
    }
  }
}

.timeline-enter__dot {
  
  // &::before{
  //   content: '';
  //   position: absolute;
  //   left: 50%;
  //   top: 40%;
  //   transform: translate(-50%, -40%);
  //   width: 100%;
  //   height: 1px;
  //   background: linear-gradient(to right, #9D9AED, #D1A8D0, #100418 103%);
  //   z-index: 1;
  // }

  
}

.carousel {
  padding: 0 2rem;
  position: relative;

  &::before{
    content: '';
    position: absolute;
    left: 50%;
    top: 5%;
    transform: translate(-50%, -5%);
    width: 100%;
    height: 1px;
    background: linear-gradient(to right, #9D9AED, #D1A8D0, #100418 103%);
    z-index: 0;
  }

  @screen lg {
    padding: 0 5rem;
  }
}

.timeline-enter__item {
  .item-dot {
    text-align: center;
    margin-bottom: 3rem;
  
    @screen lg {
      margin-bottom: 2.875rem;
    }

    span {
      width: 1.375rem;
      height: 1.375rem;
      background: #A09BED;
      border-radius: 3.125rem;
      z-index: 2;
      margin: 0 auto;
      display: block;
    }
  }

  .item-title {
    font-size: 2rem;
    line-height: 113%;
    margin-bottom: 1.5rem;
    background: linear-gradient(252.6deg, #D1A8D0 -62.78%, #9D9AED 119.63%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 500;
    text-align: center;

    @screen lg {
      font-size: 1.875rem;
    }
  }

  p {
    font-size: 1.6rem;
    line-height: 136%;
    text-align: center;
    color: #8B8B8B;
    max-width: 21.8rem;

    @screen lg {
      font-size: 1.25rem;
      line-height: 1.625rem;
    }
  }
}