.sentences {
    padding: 4rem 2rem 2rem 2rem;
    @screen lg {
        padding: 3.875rem 5rem 5.25rem 5rem;
    }
}

.sentences__title {
    max-width: 52rem;
    margin-bottom: 4rem;
    font-size: 4rem;
    line-height: 4.125rem;
    color: #000000;
    text-align: center;

    @screen lg {
        font-size: 4.125rem;
        margin-bottom: 5rem;
    }

    span {
        font-size: 4rem;
        line-height: 4.125rem;
        color: #000000;
        text-align: center;
    
        @screen lg {
            font-size: 4.125rem;
        }
    }

    & :deep(.text-gradient-yellow){
        background: linear-gradient(253.64deg, #F2B59C 6.02%, #FFE26E 117.3%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-weight: 500;
    }
}

.sentences__choose {
    .active {
      background: #000000;
      color: #fff
    }
    @screen xl {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .choose-text {
        font-size: 1.6rem;
        color: #000000;
        margin-right: 1.375rem;
        text-align: center;
        margin-bottom: 1rem;

        @screen xl {
            text-align: left;
            font-size: 1rem;
            margin-bottom: 0;
        }
    }

    a {
        // margin: 0 auto 1rem auto;
        margin-right: 1rem;
        margin-bottom: 1rem;

        @screen lg {
            margin: 0 0.375rem 0 0;
        }
    }
}